<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}{{ raddit_app_site_name() }}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="generator" content="raddit {{ raddit_app_version() }}">

    <link rel="apple-touch-icon-precomposed" href="{{ asset('apple-touch-icon-precomposed.png') }}">

    {% block stylesheets %}
      {% if not app.user or not app.user.nightMode %}
        <link rel="stylesheet" href="{{ asset('css/main.min.css') }}">
      {% else %}
        <link rel="stylesheet" href="{{ asset('css/main-night.min.css') }}">
      {% endif %}

      <link rel="stylesheet" href="{{ asset('fonts/css/raddit.css') }}">
    {% endblock %}

    {% block head %}{% endblock %}
  </head>

  <body class="{{ block('page_classes')|replace({'\n': ''}) }} {{ app.user ? 'user-logged-in' : 'user-anonymous' }}">
    {% spaceless %}
      <nav class="site-nav">
        <ul>
          {% block site_nav_left %}
            <li><a href="{{ path('raddit_app_front') }}">{{ raddit_app_site_name() }}</a></li>
            <li><a href="{{ path('raddit_app_forum_list') }}">{{ 'site_nav.forum_list'|trans }}</a></li>
          {% endblock %}
        </ul>

        <ul class="right-nav">
          {% if not is_granted('ROLE_USER') %}
            <li><a href="{{ path('raddit_app_login') }}">{{ 'site_nav.log_in'|trans }}</a></li>
            <li><a href="{{ path('raddit_app_registration') }}">{{ 'site_nav.register'|trans }}</a></li>
          {% else %}
            {% with {notification_count: app.user.notifications|length} %}
              {% if notification_count > 0 %}
                <li class="has-notifications"><a href="{{ path('raddit_app_inbox') }}">{{ 'site_nav.inbox'|trans({'%count%': '<strong>%d</strong>'|format(notification_count)})|raw }}</a></li>
              {% endif %}
            {% endwith %}
            <li><a href="{{ path('raddit_app_submit', {forum_name: forum is defined and forum ? forum.name : null}) }}">{{ 'site_nav.submit'|trans }}</a></li>
            <li class="dropdown-container">
              <a href="#" class="dropdown-toggle"><strong>{{ app.user.username }}</strong></a>
              <ul class="dropdown-menu">
                <li><a href="{{ path('raddit_app_user', {username: app.user.username}) }}">{{ 'site_nav.profile'|trans }}</a></li>
                <li><a href="{{ path('raddit_app_edit_user', {username: app.user.username}) }}">{{ 'site_nav.my_account'|trans }}</a></li>
                <li><a href="{{ path('raddit_app_user_settings', {username: app.user.username}) }}">{{ 'site_nav.user_settings'|trans }}</a></li>
                <li><a href="{{ logout_path() }}">{{ 'site_nav.log_out'|trans }}</a></li>
              </ul>
            </li>
          {% endif %}
        </ul>
      </nav>
    {% endspaceless %}

    <div class="site-alerts">
      {%- if app.request.hasPreviousSession -%}
        {%- for type, notices in app.session.flashBag.all -%}
          {%- for notice in notices -%}
            <p class="alert alert-{{ type }}" role="alert">{{ notice|trans }}</p>
          {%- endfor -%}
        {%- endfor -%}
      {%- endif -%}
    </div>

    <main class="content-wrapper">
      <div class="body">{% block body %}{% endblock %}</div>
      <aside class="sidebar">{% block sidebar %}{% endblock %}</aside>
    </main>

    <footer class="site-footer">
      <p class="site-footer-version">
        {{ 'site_footer.version'|trans({
          '%branch%': raddit_app_branch(),
          '%version%': raddit_app_version(),
          '%app%': '<a href="https://gitlab.com/edgyemma/raddit-app">raddit</a>',
        })|raw }}
      </p>
    </footer>

    {% block javascripts %}
      <script>window.__webpack_public_path__ = "{{ app.request.baseUrl|e('js') }}/js/";</script>
      <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
      <script src="{{ path('fos_js_routing_js', {callback: 'fos.Router.setData'}) }}"></script>
      <script src="{{ asset('js/vendor.js') }}"></script>
      <script src="{{ asset('js/main.js') }}"></script>
      <script src="{{ path('bazinga_jstranslation_js') }}"></script>
    {% endblock %}
  </body>
</html>
