{% extends '@RadditApp/base.html.twig' %}

{% form_theme form '@RadditApp/forms/standard_form_theme.html.twig' %}

{% block page_classes %}registration-page{% endblock %}

{% block body %}
  {% include '@RadditApp/forms/user_form.html.twig' %}
{% endblock %}
